/* Body styles */
body {
    background-color: #45beea;
    font-family: Arial, sans-serif;
  }

  .main-header {
    color: blueviolet;
    text-align: center;
  }
  
  /* Quiz container styles */
  #quiz-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  }

  #start-btn {
    background: linear-gradient(50deg, #ffd700, transparent);
    border: none;
    color: black;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2 ease;
  }
  
  #start-btn:hover {
    background: linear-gradient(90deg, #ffd700, #ffd700);
    transform: scale(1.1);
  }
  
  
  /* Quiz question styles */
  #question-text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Answer choice styles */
  input[type="radio"], label {
    font-size: 20px;
    cursor: pointer;
    
  }
  
  /* Answer choice label styles */
  label {
    padding-left: 30px;
    position: relative;
  }
  
  label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #888;
    position: absolute;
    left: 0;
    top: 2px;
  }
  
  label:hover:before {
    border-color: #555;
  }
  
  input[type="radio"]:checked + label:before {
    background-color: #555;
    border-color: #555;
  }
  
  /* Submit button styles */
  #submit-btn {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  #submit-btn:hover {
    background-color: #3e8e41;
  }
  
  /* Score container styles */
  #score-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Score text styles */
  #score {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Initials form styles */
  form {
    margin-top: 20px;
  }
  
  label[for="initials"] {
    font-size: 20px;
    font-weight: bold;
  }
  
  #initials {
    font-size: 20px;
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
    border: 2px solid #888;
  }
  
  #submit-score {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  #submit-score:hover {
    background-color: #3e8e41;
  }
  
  /* Timer styles */
  #timer-container {
    font-size: 36px;
    font-weight: bold;
    margin-top: 20px;
  }
  

  .hide {
    display: all;
  }